/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --image-main-bg: url(../images/cover-image-dark.png);
  --color-bg: #000028;
  --font-family-main: 'IBM Plex mono';
  --font-size-main: 18px;
  --color-accent: #FF0070;
  --color-main-text: #F1B2CE;
  --color-heading: #DB00FF;
  --color-section-title: #FF0070;
  --color-theme-menu: #FF0070;
  --color-subtitle: #000028;
  --color-hidden-deco: #FF0070;
}